body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #47afdf; 
    color: white;
    padding: 20px; 
    text-align: center;
}

main {
    padding: 20px;
}

.sobre-mi, .mis-hobbies {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
    max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Hace que la imagen sea circular */
    display: block;
    margin: 10px auto; /* Centra la imagen */
}

h2 {
    color: #3376d4;
}

footer {
    background-color: #747474;
    color: white;
    text-align: center;
    padding: 10px;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
}

.redes-sociales li {
    display: inline;
    margin: 0 10px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
}

.redes-sociales a:hover {
    text-decoration: underline;
}
